<section class='hero'>

    <div class='hero-content'>
        <h2 class='hero-content__title'>Fast Service Waiting for you<br><br> Manage Customer like a boss</h2>
        <div class="site__box-link">
            <p><a class="btn btn--width" href="">Details</a></p>
                <a class="btn btn--revert btn--width" href="">Contact</a>
            
        </div>
        <div class='hero-content__links'>



        </div>
    </div>
    <div class='hero-box-container'>
        <a href='' class='hero-box'>
            <span class='hero-box__circle hero-box__circle--blue'></span>
            <h2 class='hero-box__title'>Sell your device</h2>
            <p class='hero-box__body'>Get instant quote<br><br> and ship device for free</p>
        </a>
        <a href='' class='hero-box'>
            <span class='hero-box__circle hero-box__circle--green'></span>
            <h2 class='hero-box__title'>Repair</h2>
            <p class='hero-box__body'>Give a second chance<br> to your device</p>
        </a>
        <a href='' class='hero-box'>
            <span class='hero-box__circle hero-box__circle--orange'></span>
            <h2 class='hero-box__title'>Exchange</h2>
            <p class='hero-box__body'>Refurbished and lightly used<br> device marketplace</p>
        </a>
    </div>

</section>
<div style="background: rgb(238,244,247); margin-left: 20%;">


    <!-- <div class="sect sect--padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site">
                        <h1 class="site__title">Fast Service Waiting for you</h1>
                        <h2 class="site__subtitle">Manage Customer like a boss</h2>
                        <div class="site__box-link">
                            <a class="btn btn--width" href="">Details</a>
                            <a class="btn btn--revert btn--width" href="">Contact</a>
                        </div>
                        <img class="site__img" src="https://img.freepik.com/free-vector/computer-repair-support-service-isometric-illustration_1284-57663.jpg?w=2000">
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="sect sect--padding-bottom">
        <div class="container">
            <div class="row row--center">
                <h1 class="row__title">
                    Services
                </h1>
                <h2 class="row__sub">What fits your business the best?</h2>
            </div>
            <div class="row row--center row--margin">
                <div class="col-md-4 col-sm-4 ">
                    <div class="price-box__wrap">
                        <div> <img class="price-box__img"
                                src="https://5.imimg.com/data5/RG/VS/ND/SELLER-15278742/computer-repair-services-500x500.png">
                        </div>

                        <h1 class="price-box__title">
                            Computer Repair
                        </h1>

                        <h2 class="price-box__discount">
                            <span class="price-box__dollar">24/7 Service Available</span>
                        </h2>

                        <p class="price-box__feat">
                            Service
                        </p>
                        <ul class="price-box__list">
                            <li class="price-box__list-el">Windows Installation</li>
                            <li class="price-box__list-el">Data Backup</li>
                            <li class="price-box__list-el">Motherboard Repair</li>
                            <li class="price-box__list-el">Ram/Hdd Update </li>
                        </ul>
                        <div class="price-box__btn">
                            <a class="btn btn--purple btn--width">Start now</a>
                        </div>
                    </div>
                </div>
                <!-- second -->
                <div class="col-md-4 col-sm-4 price-box price-box--violet">
                    <div class="price-box__wrap">
                        <div> <img class="price-box__img"
                                src="https://e7.pngegg.com/pngimages/31/414/png-clipart-laptop-repairing-training-dell-hewlett-packard-computer-repair-technician-laptop-electronics-computer.png">
                        </div>
                        <h1 class="price-box__title">
                            Laptop Repair
                        </h1>

                        <h2 class="price-box__discount">
                            <span class="price-box__dollar">24/7 Service Available</span>
                        </h2>

                        <p class="price-box__feat">
                            Service
                        </p>
                        <ul class="price-box__list">
                            <li class="price-box__list-el">Windows Installation</li>
                            <li class="price-box__list-el">Data Backup</li>
                            <li class="price-box__list-el">Motherboard Repair</li>
                            <li class="price-box__list-el">Ram/Hdd Update </li>
                        </ul>
                        <div class="price-box__btn">
                            <a class="btn btn--violet btn--width">Start now</a>
                        </div>
                    </div>
                </div>

                <!-- terzo -->
                <div class="col-md-4 col-sm-4 price-box price-box--blue mb-4">
                    <div class="price-box__wrap">
                        <div> <img class="price-box__img"
                                src="https://www.kindpng.com/picc/m/727-7270860_laptop-and-printer-repair-hd-png-download.png">
                        </div>
                        <h1 class="price-box__title">
                            All Type of Services
                        </h1>

                        <h2 class="price-box__discount">
                            <span class="price-box__dollar">24/7 Service Available</span>

                        </h2>

                        <p class="price-box__feat">
                            Services
                        </p>
                        <ul class="price-box__list">
                            <li class="price-box__list-el">Windows Installation</li>
                            <li class="price-box__list-el">Data Backup</li>
                            <li class="price-box__list-el">Motherboard Repair</li>
                            <li class="price-box__list-el">Ram/Hdd Update </li>
                        </ul>
                        <div class="price-box__btn">
                            <a class="btn btn--blue btn--width">Start now</a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


    

    <div class="sect sect--white sect--no-padding mt-5">
        <div class="container">
            <div class="row row--center">
                <div class="col-md-3 col-xs-6 col-sm-6 partner">
                    <a href="#" class="partner__link">
                        <img class="partner_img"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/HP_logo_2012.svg/1200px-HP_logo_2012.svg.png">
                    </a>
                </div>

                <div class="col-md-3  col-xs-6 col-sm-6 partner">
                    <a href="#" class="partner__link">
                        <img class="partner_img"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Dell_logo_2016.svg/800px-Dell_logo_2016.svg.png">
                    </a>
                </div>


                <div class="col-md-3 col-xs-6 col-sm-6 partner">
                    <a href="#" class="partner__link">
                        <img class="partner_img"
                            src="https://w7.pngwing.com/pngs/876/785/png-transparent-%E5%8D%8E%E7%A1%95-laptop-logo-asus-zenfone-3-zoom-ze553kl-laptop-electronics-text-computer.png">
                    </a>
                </div>

                <div class="col-md-3 col-xs-6 col-sm-6 partner">
                    <a href="#" class="partner__link">
                        <img class="partner_img" src="https://1000logos.net/wp-content/uploads/2016/09/Acer-Logo.png">
                    </a>
                </div>


            </div>
            <div class="row row--center">
                <div class="col-md-3 col-xs-6 col-sm-6 partner">
                    <a href="#" class="partner__link">
                        <img class="partner_img"
                            src="https://1000logos.net/wp-content/uploads/2017/03/Lenovo-Logo-1.png">
                    </a>
                </div>

                <div class="col-md-3 col-xs-6 col-sm-6 partner">
                    <a href="#" class="partner__link">
                        <img class="partner_img"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Samsung_Logo.svg/2560px-Samsung_Logo.svg.png">
                    </a>
                </div>


                <div class="col-md-3 col-xs-6 col-sm-6 partner">
                    <a href="#" class="partner__link">
                        <img class="partner_img"
                            src="https://w7.pngwing.com/pngs/38/732/png-transparent-msi-logo-horizontal.png">
                    </a>
                </div>

                <div class="col-md-3 col-xs-6 col-sm-6 partner">
                    <a href="#" class="partner__link">
                        <img class="partner_img"
                            src="https://1000logos.net/wp-content/uploads/2017/06/Toshiba-Logo.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="sect sect--white">
        <div class="container">
            <div class="row">
                <h1 class="row__title">
                    Our blog
                </h1>
                <h2 class="row__sub">Sneak peeks from our writings</h2>
            </div>

            <div class="row row--margin">
                <div class="col-md-6 article-pre__col">
                    <a href="#" class="article-pre ">
                        <div class="article-pre__img article-pre__img--first"></div>
                        <h2 class="article-pre__info">
                            <span class="article-pre__cat">Protips • </span><span class="article-pre__aut"> by Ann
                                Timothy</span> <span class="article-pre__date"> - 5 mins read</span>
                        </h2>
                        <h1 class="article-pre__title">How to improve analytics using few tools in Bricks<span
                                class="article-pre__arrow--purple"> →</span></h1>
                    </a>
                </div>

                <div class="col-md-6 article-pre__col">
                    <a href="#" class="article-pre ">
                        <div class="article-pre__img article-pre__img--second"></div>
                        <h2 class="article-pre__info">
                            <span class="article-pre__cat">Pricing • </span><span class="article-pre__aut"> by Josh
                                Ford</span> <span class="article-pre__date"> - 5 mins read</span>
                        </h2>
                        <h1 class="article-pre__title">Rich Thornett & Dan Coderholm about Dribbble in early
                            2009<span class="article-pre__arrow--purple">→</span></h1>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 article-pre__col">
                    <a href="#" class="article-pre ">
                        <div class="article-pre__img article-pre__img--fourth"></div>
                        <h2 class="article-pre__info">
                            <span class="article-pre__cat">Success Stories • </span><span class="article-pre__aut">
                                by
                                Andrew Lincoln</span> <span class="article-pre__date"> - 5 mins read</span>
                        </h2>
                        <h1 class="article-pre__title">Steward Butterfield told us about his startup Slack<span
                                class="article-pre__arrow--purple"> →</span></h1>
                    </a>
                </div>

                <div class="col-md-6 article-pre__col">
                    <a href="#" class="article-pre ">
                        <div class="article-pre__img article-pre__img--third"></div>
                        <h2 class="article-pre__info">
                            <span class="article-pre__cat">Protips • </span><span class="article-pre__aut"> by Ann
                                Timothy</span> <span class="article-pre__date"> - 5 mins read</span>
                        </h2>
                        <h1 class="article-pre__title">How to improve analytics using few tools in Bricks<span
                                class="article-pre__arrow--purple"> →</span></h1>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="sect sect--padding-bottom">
        <div class="container">
            <div class="row">
                <h1 class="row__title">
                    Contact Us </h1>
                <h2 class="row__sub">Feel free to ask any questions</h2>
            </div>
            <div class="row row--margin">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div class="contacts">
                        <a href="#" class="contacts__link"><img src="https://image.ibb.co/kcVou6/path3000.png">
                            <h1 class="contacts_title-ag">TCG<span class="contacts--light">.COM</span></h1>
                        </a>
                        <p class="contacts__address">
                            Sun Srishti Complex,<br> Saki Vihar Road, opp. Gurukrupa hotel,<br> Tunga Village, Chandivali, <br>Powai, Mumbai, Maharashtra
                        </p>
                        <p class="contacts__info">
                            tel. <a href="#" class="contacts__info-link">+91-990-0000-001</a>
                        </p>
                        <p class="contacts__info">
                            mail-: <a href="#" class="contacts__info-link">tcg@gmail.com</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <form id="contact" class="form">
                        <div class="form-group">
                            <select class="form__field form__select">
                                <option selected value>Choose topic*</option>
                                <option value=1>Pricing</option>
                                <option value=2>Success Stories</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="form__field--half">
                                <input type="text" placeholder="Name*" class="form__field form__text">
                            </div>
                            <div class="form__field--half">
                                <input type="text" placeholder="Surname" class="form__field form__text">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form__field--half">
                                <input type="text" placeholder="Email address*" class="form__field form__text">
                            </div>
                            <div class="form__field--half">
                                <input type="text" placeholder="Phone number" class="form__field form__text">
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea type="text" placeholder="Your messsage*"
                                class="form__field form__textarea"></textarea>
                            <button class="btn btn--up btn--width" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>

   


</div>